@import 'tailwindcss';
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.dark, .dark *));
@import 'primeicons/primeicons.css';

.card {
  @apply rounded-md bg-surface-0 dark:bg-surface-900 p-5;
}

.background {
  @apply bg-surface-50 dark:bg-surface-950;
}

.bg-header {
  @apply bg-surface-0 dark:bg-surface-900;
}

.bg-sidebar {
  @apply bg-surface-0 dark:bg-surface-900;
}
.hover-sidebar {
  @apply hover:bg-surface-100 dark:hover:bg-surface-800 rounded-lg;
}
.active {
  @apply bg-surface-100 text-primary-500 font-bold;
}

.dark .active {
  @apply bg-surface-800;
}

.p-dialog-header {
  padding: 0.5rem 1rem !important;
}
